/* >>> GL HF */
/* >>> LOGO navigation */
#navigation {
  background-color: #17a2b8;
  padding: 0 12%;
}

/* >>> >>> >>> CVP LOGO */
.navbar-brand {
  font-family: "Lato";
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 1rem;
}

/* >>> >>> >>> HAMBURGER TOGGLER */
.hamburger-bar {
  font-size: 2rem;
  color: #fff;
}

.collapse-list {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 300;
}

.navbar-toggler {
  position: relative;
  border: 0;
  margin: 0 auto;
}

.navbar-toggler:active {
  outline: 0;
  -moz-outline: 0;
  border: 0
}

.navbar-toggler:focus {
  outline: 0;
  -moz-outline: 0;
  border: 0
}

#search {
font-family: "Roboto";
  background-color: #077485;
  padding: 2% 12%;
}

.vs {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  padding: 0 10px;
}

.form-control{
font-family: monospace;
color: #F5F5F5;
font-size: 1.2rem;
  text-align: center;
  padding: 0, 4%;

}

.search-buttons {
padding-left: 0;
padding-right: 0;

}

.search-row {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
}


/* >>> TITLE navigation */
#title {
  background-color: #ffc107;
  padding: 1% 12%;
}
/* >>> >>> >>> RESIZE RULES */
/* >>> >>> >>> HAMBURGER + PHONE TRIGGER */

@media (max-width:991px) {
  .navbar-brand {
    font-size: 2rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  #navigation {
    padding: 1% 7%;
    text-align: center;
  }
}

}



/* >>> SEARCH navigation */
